<!-- Dynamic Footer -->
<nav>
  <ul>
    <li><a href="https://github.com/Sohfahking" target="_blank" title="My GitHub Projects">GitHub</a></li>
    <li><a href="http://Sohfahking.GitHub.io" target="_blank" title="GitHub Home Page">GitHub.io</a></li>
    <li><a href="https://sohfahking.github.io/web115/" target="_blank" title="Github WEB115">WEB115</a></li>
    <li><a href="https://www.freecodecamp.org/DajabreTorain" target="_blank" title="My freeCodeCamp">freeCodeCamp</a>
    </li>
    <li><a href="https://www.codecademy.com/profiles/DajabreTorain" target="_blank" title="My Codecademy">Codecademy</a>
    </li>
    <li><a href="https://jsfiddle.net/user/DajabreTorain" target="_blank" title="My JSFiddle">JSFiddle</a></li>
    <li><a href="https://www.linkedin.com/in/dajabre-torain/" target="_blank" title="My LinkedIn">LinkedIn</a></li>
  </ul>
</nav>
<p id="tagline"><em>Clothes should be made to fit you, not the other way around.</em></p>
<p>Designed By Dajabre Torain &copy;2025</p>