/* Global Styles */
:root {
  /* Neutral Palette */
  --cod-gray: #100f0f;
  --double-spanish-white: #ebe3c3;
  --granite-green: #908c7e;
  --pablo: #757464;
  --pablo-brown: #746c5e;
  --dusty-gray: #9c9c9c;
  --nomad: #b6b4a5;
  --seashell: #f1f1f1;
  --napa: #aca494;
  --thistle-green: #ccc4ab;

  /* Brown Palette */
  --old-copper: #7c5434;
  --stark-white: #e7debf;
  --sandal: #a99273;
  --heathered-gray: #baad93;
  --leather: #9c7c5c;
  --silver-chalice: #a0a0a0;
  --shadow: #8b7256;
  --dove-gray: #737373;
  --cedar: #3c2414;
}

/* General Styles */
body {
  background-color: var(--old-copper);
  font-family: Georgia, serif;
  color: var(--double-spanish-white);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: var(--double-spanish-white);
}

h2 {
  color: var(--double-spanish-white);
}

/* Header */
header {
  background-color: var(--old-copper);
  padding: 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav li {
  padding: 10px;
}

header nav a {
  color: var(--double-spanish-white); 
  background-color: var(--cedar);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

header nav a:hover {
  background-color: var(--leather);
  color: var(--double-spanish-white);
}

/* Main */
main {
  padding: 20px;
  text-align: center;
  background-color: var(--shadow);
}

p { 
  padding: 10px;
  border-radius: 5px;
}

main p{
  text-align: left;
  font-size: 18px;
}

/* Footer */
footer {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  background-color: var(--cedar);
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav li {
  display: inline;
  margin: 0 5px;
}

footer nav a {
  text-decoration: none;
  color: var(--cedar);
  padding: 10px;
}

footer nav a:hover {
  background-color: var(--old-copper);
  color: var(--double-spanish-white);
}

footer nav a:visited {
  color: var(--double-spanish-white); 
}
