/*CSS Dajabre Torain Home Page */
head{
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;
}

body {
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;
}

header{
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;
}

header nav{
    position: relative;
    display: inline-block;
    width: 95%;
    height: 15px;
    padding-block: 10px;
    padding-inline: 20px;
    margin: auto;
    text-align: right;
    font-family: Georgia, bold, serif;
    font-size: 18px;
}

header nav li a {
    text-align: right;
    display:block;
    color: var(--old-copper); /* color of link title */
    background-color: var(--double-spanish-white); /* color of menu background*/
    padding: 5px 16px;
    text-decoration: none;
}

header nav a:hover {
    color: var(--double-spanish-white);
    background-color: var(--old-copper);
}

a {
    display: inline-block;
    margin: auto;
}

main {
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;
}

section{
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;

}

aside{
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;
}

footer{
    display: inline-block;
    margin: auto;
    width: 95%;
    height: 20px;
    text-align: center;
    font-family: Georgia, serif;
}

#footer-links ul li{
    display: inline;
    color: var(--cedar);  /* list element text color */
    background-color: var(--double-spanish-white);
    font-family: Georgia, bold, serif;
    font-size: 16px;
    outline-style: solid;
    outline-width: 2px;
    outline-color:var(--leather)
}

#footer-links li a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: var(--cedar)
  }

#footer-links a:hover{
    background-color: var(--old-copper);
}


#footer-links a:visited{
    color: var(--leather);
}

footer p {
    display: inline-block;
    width: 95%;
    padding: 14px;
}

h1 {
    display: block;
    font-family: Georgia, bold, serif;
    color: var(--double-spanish-white);
    text-align: center;
}

h2 {
    font-family: Georgia, bold, serif;
    color: var(--double-spanish-white);
    text-align: center;
}

h3 {
    font-family: Georgia, bold, serif;
    color: var(--double-spanish-white);
    text-align: center;
}

p {
    background-color: var(--leather);
    font-family: serif;
    color: var(--double-spanish-white);
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    font-family: Georgia, serif;
}



#introduction {
    display: block;
    padding-block: 5px;
    padding-inline: 20px;
    margin: auto;
    width: 70%;
    background-color: var(--leather);
    font-family: Georgia, serif;
    font-size: 16px;
    color: var(--double-spanish-white);
    text-align: left;
    
}