head {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;

}

body {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;
}

header {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;
}

nav {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;
}

section {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;
}

aside {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;
}

footer {
    font-family: papyrus;
    color: brown;
    background-color: whitesmoke;
    font-size: 100%;
}